font-face {
  font-family: Nunito;
< link rel = "preconnect" href = "https://fonts.googleapis.com" > < link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin > < link href = "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel = "stylesheet" > font-style: normal;
  font-display: swap;

  
  html {
    font-size: 14px;
  }

  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  }

  html {
    position: relative;
    min-height: 100%;
  }

  body {
    font-family: "Nunito", sans-serif;
  }
  
<style> .kabinet-marker {
  background-color: #ff6f61;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  border: 2px solid white;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
  .kabinet-number {
    width: 30px;
    height: 30px;
  }
</style>

< style > . Kabinet-Image {
display: flex;
  justify-content: center;
}
</style>

  .form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
  }

  .form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;

  }

}


 