@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kitty Kabinet</h1>

    <h2 style="font-family:'Caveat', sans-serif;">Welcome to the Kitty Kabinet a new concept in the forever fight to help manage
        feral cat colonies, Keep communities clean, and Feed these Friends.</h2>    
    <h2 style="font-family:'Caveat', sans-serif;"> Get The App, Become A Verified User, Be A Part Of This Worthwhile Effort</h2>
    <p>The Kitty Kabinets will be placed at Walgreens locations throughout the city. The Verified User will log in with their
        app to either donate or take DryFood, Cans of Food, or Treats. All donations will benefit the feral cat colonies in the area
        and come straight out of the Kabinets and be fed to them.</p>
    <p>The main goal of the Kitty Kabinet and Kitty Kabinet Kommunity is to promote a healthy feral cat population through
        Trap Neuter Release (TNR), while inviting Kommunity involvement and bringing awareness and full tummies to these cats in need.</p>
</div>
<div  class="text-center mt-5"><a href="https://www.foodbeast.com/wp-content/uploads/2025/07/venhub-3.png"target="_blank">
        <img src="Images/KittyKabinetImage3.png" title="Kitty Kabinet Prototype" width="400" height="250"
             alt= "Kabinet Vending Machine Prototype"/></a>
</div>
<div class="text-center">
    <p>This is an example of what the Kitty Kabinets will look like, they are based on 
        the VenHub vending machines.</p>
</div>

