@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kitty Kabinet</h1>
    <p>This Section will include some small facts and statistics about feral cats.</p>
    <p>This Section will include a basic description of  how the Kabinets will work and who can use them.</p>
</div>
<div  class="text-center mt-5"><a href="https://www.foodbeast.com/wp-content/uploads/2025/07/venhub-3.png"target="_blank">
        <img src="Images/KittyKabinetImage2.png" title="Kitty Kabinet Prototype" width="500" height="350"
             alt= "Kabinet Vending Machine Prototype"/></a>
</div>
<div class="text-center">
    <p>This will be a description of the Kabinet Itself!</p>

</div>