@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kitty Kabinet</h1>

    <h2 style="font-family:'Caveat', sans-serif;">The Kitty Kabinets objective is to offer an app to community members that can
        become Verified Users in a drive to support Feral Cat Colonies in the area.</h2>    
    <h2 style="font-family:'Caveat', sans-serif;"> Get The App, Become A Verified User, Be A Part Of This Worthwhile Effort</h2>
    <p>The Kitty Kabinets main feature are hubs placed at Walgreens locations throughout the community that allow users to donate Food/Supplies,
        as well as making it accessible to take what is needed in an effort to support these Feline Friends.</p>
    <p>The main goal of this passion project is providing a means to involve the community and assist in promoting
        the health and safety of these cats through Trap Neuter Release (TNR) and be a part of giving them full tummies 
        and a better quality of life.</p>
</div>
<div  class="text-center mt-5"><a href="https://www.foodbeast.com/wp-content/uploads/2025/07/venhub-3.png"target="_blank">
        <img src="Images/KittyKabinetImage3.png" title="Kitty Kabinet Prototype" width="400" height="250"
             alt= "Kabinet Vending Machine Prototype"/></a>
</div>
<div class="text-center">
    <p>This is an example of what the Kitty Kabinets will look like, they are based on 
        the VenHub vending machines.</p>
</div>

