@{
    ViewData["Title"] = "Community Resources";
}

<h2 class="mb-4">Community Resources</h2>

<p class="text-dark mb-4">
    These local shelters and organizations can help with lost pets, adoptions, and community support.
</p>

<ul class="list-group">
    <li class="list-group-item">
        <a href="https://ocgainesville.org/" target="_blank">
            Operation Catnip
        </a>  
    </li>
    <li class="list-group-item">
        <a href="https://www.humanesocietyncfl.org/" target="_blank">
            Humane Society of North Central Florida
        </a>
    </li>

    <li class="list-group-item">
        <a href="https://www.aspca.org" target="_blank">
            ASPCA
        </a>
    </li>

    <li class="list-group-item">
        <a href="https://www.alachuacounty.us/Depts/AnimalServices" target="_blank">
            Alachua County Animal Services
        </a>
    </li>

    <li class="list-group-item">
        <a href="https://www.petfinder.com" target="_blank">
            PetFinder
        </a>
    </li>
    <li class="list-group-item">
        <a href="https://faithfulfriendsrescue.org/" target="_blank">
            Faithful Friends Pet Rescue and Rehoming
        </a>
    </li>
</ul>